
.googleform{
    text-align: center;
}
.form{
    padding: 50px;
    margin: 50px auto 100px auto;
    text-align: center;
    
    
    background-color: rgba(236, 230, 222, 0.267);
    
    
    
    
}

