@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  line-height: 1.5;
	font-family: 'Poppins', sans-serif;
    
	
	
}

.about_us{
    background-color: yellow;
    margin-top: 40px;
    margin-left: 250px;
    margin-right: 250px;
    margin-bottom: 20px;
    height: 600px;
    
}
.about_us .aboutimage{
    height: 40px;
    width: 40px;
}
.about_us .aboutheading{
    text-align: center;
    margin-top: 50px;
    color: black;
    font-size: 30px;
}
.about_us .aboutinfo{
    margin-top: 30px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 100px;
    text-align: center;
    word-spacing: 5px;
    font-size: 20px;
}



@media (max-width:840px){

.about_us{
    background-color: yellow;
    margin-left: 10px;
	margin-top: 100px;
    margin-right: 10px;
    height: 800px;
    
}
.about_us .aboutheading{
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
    margin-top: 30px;
}
.about_us .aboutinfo{
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
}

}

 
