@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* 
body{
    line-height: 1.5;
      font-family: 'Poppins', sans-serif;
      background-color: #DAA625;
      ;
  } */


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 60%;
  }

  .Downlaodbtn{
    background-color: #2559da;;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 18px;
    font-weight: bold;
    /* margin: 10px 180px; */
    margin: 10px auto 10px auto;
    width: 20%;
    cursor: pointer;
  }