@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* body{
  line-height: 1.5;
	font-family: 'Poppins', sans-serif;
	background-color: #DAA625;
	
} */

.Developer a{
  display: inline-block;
	height: 40px;
	width: 40px;
	background-color:rgb(205, 208, 209);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: red;
	transition: all 0.5s ease;
}

.Developer a:hover{
	background-color: red;
	color: white;
}


nav{
	height: 80px;
	background-color: #24262b;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 50px 0 50px;
}
.logo{
	font-size: 30px;
	color: white;
	font-weight: 600;
}
.nav-links{
	display: flex;
	list-style: none;
}
.nav-links li{
	margin: 0 6px;
	
}
.nav-links li a{
	text-decoration: none;
	color: white;
	font-size: 18px;
	font-weight: 500;
	letter-spacing: 1px;
	
	padding: 5px 8px;
	border-radius: 5px;
	transition: all 0.3 ease;

}

.nav-links li a:hover,
.nav-links li a.active{
	color: #24262b;
	background-color: white;
}
nav .menu-btn{
	color: white;
	font-size: 22px;
	cursor: pointer;
	display: none;
}

.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
#click{
	display: none;
}

.h1heading{
    font-size: 50px;
    text-align: center;
    color: #2559da;
}
section { 
    display: block;
     text-align: center;
  }
section img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 15%;
  }

section h2{
      text-align: center;
      margin-top: 10px;
      color: rgb(0, 47, 255);
  }
section  h3{
    text-align: center;
    margin-top: 10px;
    color: black;
}
section a{
    color:blue;
}
section h4{
    text-align: center;
    color: black;
    margin-bottom: 40px;

}
.footer{
	background-color: #24262b;
    padding: 70px 0;
	margin-top: auto;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
} 

@media(max-width: 767px){
	.footer-col{
	  width: 50%;
	  margin-bottom: 30px;
  }
  }
  @media(max-width: 574px){
	.footer-col{
	  width: 100%;
  }

  }
  
  
  @media (max-width:840px){
	.footer-col h4{
		position: static;
		text-decoration: underline;
		text-decoration-color: #e91e63;
		text-decoration-thickness: 3px;
		text-underline-offset: 9px;
	  }
	  .footer-col h4::before{
		display: none;
	  } 
	  nav{
		width: 100%;
	  	top: 0;
	  	position: fixed;
	  }
.h1heading{
	margin-top: 90px;
}
	section img {
		width: 50%;
		height: 50%;
	}
	section h4{
		text-align: center;
		margin-left: 30px;
		margin-right: 30px;

	}
	nav .menu-btn{
		  display: block;
	  }
	 
	  #click:checked ~ .menu-btn i:before{
		  content: "\f00d";
	  }
	  .nav-links{
		  position: fixed;
		  top: 80px;
		  left: -100%;
		  background-color: #24262b;
		  height: 100vh;
		  width: 100%;
		  display: block;
		  text-align: center;
		  cursor: pointer;
		  transition: all 0.3s ease;
	  }
	  #click:checked ~ .nav-links{	
		  left: 0%;
	  }
	  
	  .nav-links li{
		  margin: 40px 0;
	  }
	  .nav-links li a{
		  font-size: 20px;
		  display: block;
	  }
	  .nav-links li a:hover,
  .nav-links li a.active{
	  color: cyan;
	  background: none;
	
  
  }
  
  }

  h1 {
    padding: 10px 0;
    font-size: 32px;
    font-weight: 300;
    text-align: center;
    }
    p {
    font-size: 12px;
    }
    hr {
    color: #a9a9a9;
    opacity: 0.3;
    }
    .main-block {
    max-width: 500px; 
    min-height: 650px; 
    padding: 10px 0;
    margin: auto;
    border-radius: 5px; 
    border: solid 1px #ccc;
    box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
    background: #ebebeb; 
    
    }
    form {
    margin: 0 30px;
    }
    .account-type, .gender {
    margin: 15px 0;
    }
    
    label#icon {
    margin: 0;
    border-radius: 5px 0 0 5px;
    }
    label.radio {
    position: relative;
    display: inline-block;
    padding-top: 4px;
    margin-right: 20px;
    text-indent: 30px;
    overflow: visible;
    cursor: pointer;
    }
    label.radio:before {
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    
    }
    label.radio:after {
    content: "";
    position: absolute;
    width: 9px;
    height: 4px;
    top: 8px;
    left: 4px;
    border: 20px solid rgb(255, 255, 255);
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
    opacity: 0;
    }
    input[type=radio]:checked + label:after {
    opacity: 1;
   
    }
    input[type=text] {
    width: calc(100% - 57px);
    height: 36px;
    margin: 13px 0 0 -5px;
    padding-left: 10px; 
    border-radius: 0 5px 5px 0;
    border: solid 1px #cbc9c9; 
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.09); 
    background: #fff; 
    }
    input:hover{
          box-shadow: 2px 2px 2px 2px rgba(146, 196, 219, 0.705);
    }
    #icon {
    display: inline-block;
    padding: 9.3px 15px;
    box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
    
    color: rgba(0, 0, 0, 0.493);
    text-align: center;
    }
    .btn-block {
    margin-top: 10px;
    text-align: center;
    }
    button {
    width: 100%;
    padding: 10px 0;
    margin: 10px auto;
    border-radius: 5px; 
    border: none;
    background: #1c87c9; 
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    }
    button:hover {
    background: #26a9e0;
    }

	 .mwl {
  text-align: center;   
  color: white;
  font-size: 20px;
  margin-top: 25px;
}

.mwl .heart {
  color: red;
  font-size: 20px;
}
	
        
