@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  line-height: 1.5;
	font-family: 'Poppins', sans-serif;
	/* background-color: #DAA625; */
	
}

#row1{
  margin: auto;
  width: 60%;
  /* border: 3px solid green; */
  padding: 10px;
}
.column {
  /* display: block; */
    /* float: left; */
    width: 40%;
    margin: auto;
    padding: 5px;
  }
  img{
    text-align: center;
  }
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .Downlaodbtn{
    background-color: #2559da;;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 18px;
    font-weight: bold;
    /* margin: 10px 180px; */
    margin: 10px auto 10px auto;
    width: 50%;
    cursor: pointer;
  

  }

@media (max-width:940px){
 

}
