@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* body{
  line-height: 1.5;
	font-family: 'Poppins', sans-serif;
	background-color: #DAA625;
	;
} */

.imgrow{
margin: 50px auto 80px;
  width: 80%;
  padding: 10px;
  display: flex;
	
}
.imgcolumn {
  
    width: 30%;
    margin: auto;
    padding: 5px;
  }
  img{
    text-align: center;
    height: 400px;
    width: 100px;
    padding: 30px;
    margin: 0px;
    
  }
  .column {

  }
  .image{
    width: 30px;
    height: 290px;
  }

  .Downlaodbtn{
    /* background-color: #2559da; */
    background-color: #d9d9d9;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 18px;
    /* font-weight: bold; */
    /* margin: 10px 180px; */
    margin: 10px auto 10px auto;
    width: 60%;
    cursor: pointer;
  }


@media (max-width:940px){
 
  .imgrow{
    display: block;
    margin: auto;
    width: 70%;
    /* border: 3px solid green; */
    padding-top: 100px;
  }
  .imgcolumn {
    
      width: 70%;
      margin: auto;
      padding: 5px;
    }
    img{
      padding-top: 10px;
      text-align: center;
    }
}

















