@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  line-height: 1.5;
	font-family: 'Poppins', sans-serif;
	/* background-color: #DAA625; */
	;
}


.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
#click{
	display: none;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .Downlaodbtn{
    background-color: #2559da;;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 18px;
    font-weight: bold;
    /* margin: 10px 180px; */
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    cursor: pointer;
  

  }

@media (max-width:940px){
 

.column{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  width: 80%;
}
.Downlaodbtn{
  display: block;
  /* margin-left: 90px; */
  /* margin-right: 90px; */
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;  
}
}
