@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  line-height: 1.5;
	font-family: 'Poppins', sans-serif;
	
	/* background-color: #DAA625; */
	
}

.fecontent{
  margin: 60px;
  padding: 10px 50px 10px 10px;
  border-style: dotted;
  border-color: #000000;
  border-radius: 30px;
  border-width: 2px;
}
.fepcontent{
  margin: 0px 40px 10px 20px;
  padding: 0px 10px 10px 30px;
  line-height: 30px;
}

  .heading{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
  margin-top: 30px;
  color: #2559da;
  /* background-color: #2559da;	 */
  text-decoration: underline;
  
  }
  
.featureslist{
  margin-left: 50px;
  margin-top: 50px;
}
.featureslist li{ 
  list-style-type: decimal; 
  margin-left: 30px;
  padding: 4px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #000000;
}

  @media (max-width:940px){
	
.heading{
	
		text-align: center;
		font-size: 40px;
		font-weight: bold;
	    margin-top: 90px;
	    color: #2559da;
	    text-decoration: underline;
	  
	  }

  }