@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  line-height: 1.5;
	font-family: 'Poppins', sans-serif;
	/* background-color: #DAA625; */
	
}
 .divc{
     margin: 0 30px;
 }
.headfqa{
    margin: 30px 30px 0px 30px;
}
.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left    ;
    outline: none;
    font-size: 15px;
    
    
    
  }
  
  .active, .collapsible:hover {
    background-color: #555;
  }
  
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    
  }
