
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  line-height: 1.5;
	font-family: 'Poppins', sans-serif;
	
	
}
nav{
	height: 80px;
	background-color: #24262b;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 50px 0 50px;
}
.logo{
	font-size: 30px;
	color: white;
	font-weight: 600;
}
.nav-links{
	display: flex;
	list-style: none;
}
.nav-links li{
	margin: 0 6px;
	
}
.nav-links li a{
	text-decoration: none;
	color: white;
	font-size: 18px;
	font-weight: 500;
	letter-spacing: 1px;
	
	padding: 5px 8px;
	border-radius: 5px;
	transition: all 0.3 ease;

}

.nav-links li a:hover,
.nav-links li a.active{
	color: #24262b;
	background-color: white;
}
nav .menu-btn{
	color: white;
	font-size: 22px;
	cursor: pointer;
	display: none;
}

.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
#click{
	display: none;
}

.footer{
	background-color: #24262b;
    padding: 70px 0;
	margin-top: auto;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

.screenshot{
	text-align: center;
}
.screenshot img{
	width: 500px;
	height: 800px;
}
.screenshot p{
	margin-top: -10px;
	margin-bottom: 30px;
		font-size: 20px;
	font-weight: bold;
}

@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}


  #myVideo {
    display: block;
    margin: auto; 
    
  }
}


@media (max-width:840px){
	nav .menu-btn{
		display: block;
	}
	.footer-col{
		display: none;
	}
	#click:checked ~ .menu-btn i:before{
		content: "\f00d";
	}
	.nav-links{
		position: fixed;
		top: 80px;
		left: -100%;
		background-color: #24262b;
		height: 100vh;
		width: 100%;
		display: block;
		text-align: center;
		cursor: pointer;
		transition: all 0.3s ease;
	}
	#click:checked ~ .nav-links{	
		left: 0%;
	}
	
	.nav-links li{
		margin: 40px 0;
	}
	.nav-links li a{
		font-size: 20px;
		display: block;
	}
	.nav-links li a:hover,
.nav-links li a.active{
	color: cyan;
	background: none;

}
.screenshot p {
	margin-left: 50px;
	margin-right: 50px;
}
}

 
  #myVideo {

    display: block;
    margin: auto;
    min-width: 100%;
    min-height: 100%;
  }