@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  line-height: 1.5;
	font-family: 'Poppins', sans-serif;
	
}

.screenshot{
	text-align: center;
}
.screenshot img{
	margin-top: -10px;
	width: 500px;
	height: 800px;
}

.screenshot .Screenshotheading{
	margin-top: 40px;
	font-size: 50px;
	color: rebeccapurple;
}
.screenshot p{
	margin-top: -20px;
	margin-bottom: 30px;
		font-size: 20px;
	font-weight: bold;
}
#myVideo {
	/* padding-top: 80px; */
    display: block;
    margin: auto;
    min-width: 100%;
    
  }
@media (max-width:840px){



.screenshot p {
	margin-left: 50px;
	margin-right: 50px;
}
.screenshot .Screenshotheading{
	margin-left: 40px;
	margin-right: 40px;
	font-size: 30px;
}
#myVideo {
	padding-top: 80px;
    display: block;
    margin: auto;
    min-width: 100%;
    min-height: 100%;
  }
}

 


