@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  line-height: 1.5;
	font-family: 'Poppins', sans-serif;
	/* background-color: #DAA625; */
	
}

.Developer a{
  display: inline-block;
	height: 40px;
	width: 40px;
	background-color:rgb(205, 208, 209);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: red;
	transition: all 0.5s ease;
}

.Developer a:hover{
	background-color: red;
	color: white;
}

.h1heading{
    font-size: 50px;
    text-align: center;
    color: #2559da;
}
section { 
    display: block;
     text-align: center;
  }
section img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 15%;
  }

section h2{
      text-align: center;
      margin-top: 10px;
      color: rgb(0, 47, 255);
  }
section  h3{
    text-align: center;
    margin-top: 10px;
    color: black;
}
section a{
    color:blue;
}
section h4{
    text-align: center;
    color: black;
    margin-bottom: 40px;

}
  
  @media (max-width:840px){
	
.h1heading{
	margin-top: 90px;
}
	section img {
		width: 50%;
		height: 50%;
	}
	section h4{
		text-align: center;
		margin-left: 30px;
		margin-right: 30px;

	}
	
  
  }