@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  line-height: 1.5;
	font-family: 'Poppins', sans-serif;
	/* background-color: #DAA625; */
	
}

.Developer a{


  display: block;
  height: 55px;
  width: 55px;
  font-size: 40px;
  margin: auto;
	text-align: center;
	line-height: 55px;
	border-radius: 50%;
	color: rgb(255,0,64);

	transition: all 0.5s ease;
}

.Developer a:hover{

	background-color: rgb(255,0,64);

	color: white;
}

.h1heading{
    font-size: 40px;

    font-family: 'Times New Roman', Times, serif;
    color: #000000;
   text-align: center;
    margin-top: 8rem;
    
}
section { 
   
    
    max-width: 21rem;
    margin: auto;
    margin-top: 5rem;
    font-family: 'Times New Roman', Times, serif;
    
     
  }
section img {
   margin-bottom: 10px;
    border-radius: 50%;
    max-width:11rem;
    margin-left: 5rem;
    margin-right: 5rem;


  }

section h2{
      text-align: center;
      margin-top: 10px;

  
  }
section  h3{
    text-align: center;
    margin-top: 10px;
    color: black;
}

section h4{
    text-align: center;
    color: black;
    

}




@media screen and (min-width:820px) {
  .team2{
    display:flex;
  }
}

@media screen and (min-width:1580px) {
  .team1{
    display: flex;
  }
  section{
    width: 16rem;
    margin: 3rem 5rem 1rem 5rem;
  }
  section img {
    margin-bottom: 10px;
     border-radius: 50%;
     width:10rem;
     margin-left: 3rem;
     margin-right: 3rem;
 
     
   }
   .h1heading{
     margin-left: 10rem;
     text-align: left;
     margin-top:5rem;
   }
}

@media screen and (min-width:1650px) {
  section{
    width: 16rem;
    margin: 3rem 5rem 1rem 5rem;
  }
  section img {
    margin-bottom: 10px;
     border-radius: 50%;
     width:10rem;
     margin-left: 3rem;
     margin-right: 3rem;
 
     
   }
   .teamsection{
    margin-left: 5rem;
    margin-right: 5rem;

   }
   

}