
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* body{
    line-height: 1.5;
	font-family: 'Poppins', sans-serif;
	background-color: #DAA625;
} */


.heading{
    color: #2559da;
    text-align: center;
    font-size: 60px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
}
.subheading{
    margin-left: 200px;
    font-weight: 500;
    word-spacing: 5px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.divheading{
    margin-left: 200px;
    font-weight: 500;
    word-spacing: 5px;
    letter-spacing: 1px;
    margin-top: 40px;
    margin-bottom: 20px;
}
.wface{
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 50px;
}

.parent-div {

	background-color: white;
	min-height: 80px;
	max-width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

}

.Downlaodbtn{
    background-color: #2559da;;
    border-radius: 9px;
    color: white;
    padding: 10px 15px;
    text-align: center;
    font-size: 18px;
   text-decoration: none;
    font-weight: bold;
    cursor: pointer;  

}


@media (max-width:840px){

	.heading{
		margin-top: 90px;
		text-align: center;
	}
	.subheading{
margin-left: 20px;
margin-right: 10px;
text-align: center;
	}
	.divheading{
		margin-left: 20px;
margin-right: 10px;
text-align: center;
	}

}

 